.login.page * {
  display: block;
}

.login.page {
  box-sizing: border-box;
  padding-top: 435rpx;
}

.login.page input {
  width: 550rpx;
  margin: 45rpx auto 0 auto;
  font-size: 28rpx;
  text-indent: 2em;
  padding: 1.2em 0;
  border-radius: 2em;
  outline: none;
  background: #fff;
}

.login.page .tip {
  text-align: center;
  font-size: 20rpx;
  margin-top: .75em;
}

#enterBtn {
  width: 312rpx;
  background-color: rgb(132, 173, 128);
  color: white;
  padding: 1.2em;
  border-radius: 2em;
  text-align: center;
  margin: 83rpx auto;
}