body{
  margin: 0;
}
#appCanvas{
  max-width: 80vw;
  max-height: 100vh;
}

.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.homepage{
  float: left;
  position: relative;
  width: 70vw;
  height: 100vh;
}
.rankpage{
  float: left;
  position: relative;
  width: 30vw;
  height: 100vh;
}